body {
  padding: 0 30px;
}

pre {
  font-size: 1.1em;
}

#code {
  float: left;
}

#code textarea {
  font-family: monospace;
  font-size: 1.1em;
  height:800px;
  width:600px;
}

#tabs-container {
  padding-left: 50px;
  float: left;
  width: 1000px;
}

#tabs-container .tab-pane {
  padding-top: 20px;
}

#warns, #errors {
  display: none;
}
